<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wuhunyu.code_gen.system.data_source.dynamic.mapper.DynamicDataSourceMapper">

    <select id="findCurDataBaseName" resultType="java.lang.String">
        select
            database()
        limit 1
    </select>

    <resultMap id="listTablesMap" type="com.wuhunyu.code_gen.system.data_source.dynamic.domain.TableData">
        <result column="TABLE_NAME" property="tableName" javaType="String"/>
        <result column="TABLE_COMMENT" property="tableComment" javaType="String"/>
        <result column="CREATE_TIME" property="createDateTime" javaType="java.time.LocalDateTime"/>
    </resultMap>

    <select id="listTables" resultMap="listTablesMap">
        select
            `TABLE_NAME`,
            TABLE_COMMENT,
            CREATE_TIME
        from
            information_schema.tables
        where
            TABLE_SCHEMA = #{dataBaseName}
        order by
            CREATE_TIME desc
    </select>

    <resultMap id="listFieldsByTableNameMap" type="com.wuhunyu.code_gen.system.data_source.dynamic.domain.FieldData">
        <result column="COLUMN_NAME" property="fieldName" javaType="String"/>
        <result column="DATA_TYPE" property="fieldType" javaType="String"/>
        <result column="primaryKey" property="primaryKey" javaType="Integer"/>
        <result column="COLUMN_COMMENT" property="fieldComment" javaType="String"/>
    </resultMap>

    <select id="listFieldsByTableName" resultMap="listFieldsByTableNameMap">
        select
            `COLUMN_NAME`,
            DATA_TYPE,
            if(COLUMN_KEY = 'PRI', #{primaryKeyValue}, #{nonPrimaryKeyValue}) as `primaryKey`,
            COLUMN_COMMENT
        from
            information_schema.columns
        where
            TABLE_SCHEMA = #{dataBaseName}
                and `TABLE_NAME` = #{tableName}
        order by
            ORDINAL_POSITION asc
    </select>

</mapper>
